block config

doctype html
html(lang=__.lang, class="no-js")
    head
        block head
            include head
    body.body(class=bodyClass)
        include mixins
        include blocks/header
        include blocks/menu
        main.content
            block content
        include blocks/footer 
        include blocks/popups
        block scripts-config
        block scripts
            include scripts