footer.footer
  .container 
    .footer__top
      .footer__item 
        .footer__title Меню компании
        .footer__links
          .footer__link
            a(href="#") Что такое Oner
          .footer__link
            a(href="#") Реквизиты и информация
          .footer__link
            a(href="#") Новости
          .footer__link
            a(href="#") Вакансии
          .footer__link
            a(href="#") Поставщикам
          .footer__link
            a(href="#") Контакты
      .footer__item 
        .footer__title Каталоги
        .footer__links
          .footer__link
            a(href="catalog.html") Оригинальные запчасти
          .footer__link
            a(href="#") Неоригинальные запчасти
          .footer__link
            a(href="#") Запчасти для ТО
          .footer__link
            a(href="#") Автомасла
          .footer__link
            a(href="#") Аккумуляторы
          .footer__link
            a(href="#") Распродажа
      .footer__item 
        .footer__title Помощь
        .footer__links
          .footer__link
            a(href="#") Часто задаваемые вопросы
          .footer__link
            a(href="#") Консультация Online
          .footer__link
            a(href="#") Оплата заказа
          .footer__link
            a(href="#") Доставка заказа
          .footer__link
            a(href="#") Возврат товара
          .footer__link
            a(href="#") Забыл пароль
      .footer__item 
        .footer__title Товары и бренды
        .footer__links
          .footer__link
            a(href="#") Список брендов
          .footer__link
            a(href="#") Популярные товары
          .footer__link
            a(href="#") Наличие на складах
      .footer__item
        .footer__info
          a.consultation(href="#") 
            .consultation__ico
              +svgsprite('chat')
            .consultation__info
              .consultation__title Консультация Online
              .consultation__text Задавайте вопросы
          .footer__status Сервис работает в обычном режиме
        .footer__docs.--visible-tablet
          a.footer__docs-link(href="#") Оферта
          a.footer__docs-link(href="#") Конфиденциальность
    .footer__bottom
      .copyright Copyright © ООО «Oner.ru» 2021. All rights reserved.
      .footer__pay
        p.footer__pay-text Принимаем к оплате
        .footer__pay-ico 
          +svgsprite('visa')
        .footer__pay-ico 
          +svgsprite('mastercard')
        .footer__pay-ico 
          +svgsprite('mir')
      .footer__docs.--remove-tablet 
        a.footer__docs-link(href="#") Оферта
        a.footer__docs-link(href="#") Конфиденциальность