.menu 
  .menu__bg.--close-menu
  .menu__panel.container.--flex
    button.all-categories.active.--close-menu
        +svgsprite('menu')
        | Все категории
    .menu__links
      a.menu__link(href="#")
        .menu__ico 
          +svgsprite('catalog-1')
        .menu__text Оригинальные запчасти
      a.menu__link(href="catalog.html")
        .menu__ico 
          +svgsprite('catalog-2')
        .menu__text Неоригинальные запчасти
      a.menu__link(href="#")
        .menu__ico 
          +svgsprite('catalog-3')
        .menu__text Запчасти ВАЗ, ГАЗ, КАМАЗ
      a.menu__link(href="#")
        .menu__ico 
          +svgsprite('catalog-4')
        .menu__text Кузовные запчасти
      a.menu__link(href="#")
        .menu__ico 
          +svgsprite('catalog-5')
        .menu__text Запчасти для ТО
      a.menu__link(href="#")
        .menu__ico 
          +svgsprite('catalog-6')
        .menu__text Автостёкла
      a.menu__link(href="#")
        .menu__ico 
          +svgsprite('catalog-7')
        .menu__text Автомасла
      a.menu__link(href="#")
        .menu__ico 
          +svgsprite('catalog-8')
        .menu__text Автохимия
      a.menu__link(href="#")
        .menu__ico 
          +svgsprite('catalog-9')
        .menu__text Диски
      a.menu__link(href="#")
        .menu__ico 
          +svgsprite('catalog-10')
        .menu__text Аккумуляторы
      a.menu__link(href="#")
        .menu__ico 
          +svgsprite('catalog-11')
        .menu__text Автолампы
    .menu__banner 
      .menu__banner-wrap
        .menu__banner-text Автомасла №1 <br>от официальных <br>дилеров