.popup-provider 
  .popup-provider__bg.--provider-close
  .popup-provider__panel 
    .popup-provider__head 
      h4.popup-provider__title О поставщике
    .popup-provider__body 
      .popup-provider__list
        .popup-provider__item 
          .popup-provider__grey-description Время обработки заказа
          .popup-provider__description понедельник, 25.04.2021, 09:00
        .popup-provider__item 
          .popup-provider__grey-description Прайс обновлен
          .popup-provider__description 23.04.2021 13:48
      .popup-provider__stats 
        .popup-provider__checked
          .popup-provider__circle
            <svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M31 6C36.6155 6 42.0674 7.89057 46.4773 11.3671C50.8873 14.8436 53.9983 19.7036 55.3092 25.1639C56.6202 30.6242 56.0546 36.3668 53.7036 41.4665C51.3526 46.5661 47.3532 50.7258 42.3498 53.2752C37.3463 55.8245 31.6303 56.6152 26.1227 55.5196C20.6152 54.4241 15.6368 51.5062 11.9898 47.2362C8.34289 42.9662 6.23973 37.5926 6.01927 31.9815C5.79881 26.3703 7.47389 20.8484 10.7746 16.3054" stroke="#38A865" stroke-width="12"/>
            </svg>
            .popup-provider__circle-text 85%
          .popup-provider__checked-title Одобрено
        .popup-provider__backs
          .popup-provider__circle
            <svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M31 6C36.6155 6 42.0674 7.89057 46.4773 11.3671C50.8873 14.8436 53.9983 19.7036 55.3092 25.1639C56.6202 30.6242 56.0546 36.3668 53.7036 41.4665C51.3526 46.5661 47.3532 50.7258 42.3498 53.2752C37.3463 55.8245 31.6303 56.6152 26.1227 55.5196C20.6152 54.4241 15.6368 51.5062 11.9898 47.2362C8.34289 42.9662 6.23973 37.5926 6.01927 31.9815C5.79881 26.3703 7.47389 20.8484 10.7746 16.3054" stroke="#F11A22" stroke-width="12"/>
            </svg>
            .popup-provider__circle-text 85%
          .popup-provider__checked-title Возвраты
      .popup-provider__info 
        .popup-provider__description Возврат позиции возможен
        .popup-provider__grey-description Возврат товара недлежащего качества возможен в течении 14 календарных дней после реализации товара клиенту. Поставщик в праве отказать клиенту в возврате по товарам: электро-группы, габаритные кузовные детали, стёкла, техжидкости, масла, детали стоимостью менее 500 руб. Условия возврата и удержания после запроса через сайт.