.--flex{
  display: flex;
}

.--jcsb{
  justify-content: space-between;
}

.--jcfe{
  justify-content: flex-end;
}

.--jccn{
  justify-content: center;
}

.--aicn{
  align-items: center;
}

.--aife{
  align-items: flex-end;
}
