
.footer{
  padding: 40px 0 20px;
  background-color: #2F2B4A;
  color: #fff;
}

.footer__top{
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(#fff, .15);
  margin-bottom: 20px;
}

.footer__item {
  width: calc(20% - 10px);
}

.footer__title{
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}

.footer__link{
  margin-bottom: 8px;
  &:last-child{
    margin-bottom: 0px;
  }
  a{
    line-height: 20px;
    color: #F4F5F7;
    transition: .4s;
    opacity: .9;
    &:hover{
      color: #fff;
    }
  }
}

.consultation{
  padding: 15px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
}

.consultation__ico{
  width: 30px;
}

.consultation__info{
  width: calc(100% - 30px);
}

.consultation__title{
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.consultation__text{
  font-size: 14px;
  line-height: 18px;
  color: #F4F5F7;
}

.footer__status{
  padding-left: 30px;
  position: relative;
  max-width: 182px;
  line-height: 22px;
  padding-top: 2px;
  &:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #49C171;
    opacity: .3;
  }
  &:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #49C171;
  }
}

.footer__bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__pay{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__pay-ico {
  background: rgba(244, 246, 249, 0.15);
  border-radius: 4px;
  height: 36px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.footer__pay-text{
  margin-right: 18px;
}

.footer__docs{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  a{
    color: #fff;
    margin-right: 30px;
    &:last-child{
      margin-right: 0px;
    }
  }
}

@media(max-width: 1200px){
  .footer__top{
    flex-wrap: wrap;
  }
  .footer__item{
    width: calc(25% - 5px);
  }
  .footer__item:last-child{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
  }
  .footer__info{
    display: flex;
    align-items: center;
  }
  .consultation{
    margin-right: 40px;
    margin-bottom: 0px;
  }
}

@media(max-width: 768px){
  .footer__item{
    width: 100%;
  }
  .footer__links{
    padding-bottom: 15px;
    display: none;
    &.active{
      display: block;
    }
  }

  .footer__title{
    position: relative;
    &.active:after{
      transform: translateY(-50%) rotateZ(0deg);
    }
    &:after{
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) rotateZ(180deg);
      background: url(../img/footer/arrow.svg) no-repeat center / contain;
      width: 24px;
      height: 24px;
    }
  }

  .footer__link{
    margin-bottom: 8px;
  }

  .footer__item:last-child{
    display: block;
  }

  .footer__info{
    display: block;
  }
  .consultation{
    justify-content: center;
    margin-bottom: 20px;
  }

  .footer__status{
    max-width: 270px;
    margin: 0 auto 20px;
  }

  .footer__docs{
    width: 100%;
    justify-content: center;
  }

  .consultation__info{
    width: auto;
  }

  .footer__top{
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .footer__bottom{
    flex-wrap: wrap;
  }

  .footer__pay{
    justify-content: center;
    width: 100%;
    order: -1;
    margin-bottom: 20px;
  }
  .copyright{
    width: 100%;
    text-align: center;
  }
}