.svgsprite {
    display:inline-block;
    fill:currentColor;
    vertical-align:middle;

    &._add {
    	width:32px;
    	height:32px;
    }
    &._arrow-down-purple {
    	width:20px;
    	height:20px;
    }
    &._arrow-white {
    	width:32px;
    	height:32px;
    }
    &._basket {
    	width:24px;
    	height:24px;
    }
    &._basket-card {
    	width:24px;
    	height:24px;
    }
    &._basket_2 {
    	width:24px;
    	height:24px;
    }
    &._btn-arrow {
    	width:24px;
    	height:24px;
    }
    &._burger {
    	width:24px;
    	height:24px;
    }
    &._car {
    	width:20px;
    	height:20px;
    }
    &._catalog-1 {
    	width:32px;
    	height:32px;
    }
    &._catalog-10 {
    	width:32px;
    	height:32px;
    }
    &._catalog-11 {
    	width:32px;
    	height:32px;
    }
    &._catalog-2 {
    	width:32px;
    	height:32px;
    }
    &._catalog-3 {
    	width:34px;
    	height:34px;
    }
    &._catalog-4 {
    	width:32px;
    	height:32px;
    }
    &._catalog-5 {
    	width:32px;
    	height:32px;
    }
    &._catalog-6 {
    	width:32px;
    	height:32px;
    }
    &._catalog-7 {
    	width:32px;
    	height:32px;
    }
    &._catalog-8 {
    	width:32px;
    	height:32px;
    }
    &._catalog-9 {
    	width:32px;
    	height:32px;
    }
    &._chat {
    	width:20px;
    	height:20px;
    }
    &._crumb-arrow {
    	width:6px;
    	height:8px;
    }
    &._days {
    	width:18px;
    	height:18px;
    }
    &._delete {
    	width:16px;
    	height:18px;
    }
    &._diller {
    	width:14px;
    	height:12px;
    }
    &._exit {
    	width:24px;
    	height:24px;
    }
    &._filter {
    	width:20px;
    	height:20px;
    }
    &._i {
    	width:20px;
    	height:20px;
    }
    &._lk_1 {
    	width:16px;
    	height:20px;
    }
    &._lk_2 {
    	width:24px;
    	height:24px;
    }
    &._lk_3 {
    	width:24px;
    	height:24px;
    }
    &._lk_4 {
    	width:24px;
    	height:24px;
    }
    &._lk_5 {
    	width:24px;
    	height:24px;
    }
    &._location {
    	width:24px;
    	height:24px;
    }
    &._mastercard {
    	width:27px;
    	height:16px;
    }
    &._menu {
    	width:20px;
    	height:20px;
    }
    &._minus {
    	width:16px;
    	height:16px;
    }
    &._mir {
    	width:54px;
    	height:16px;
    }
    &._pay_1 {
    	width:24px;
    	height:24px;
    }
    &._pay_2 {
    	width:24px;
    	height:24px;
    }
    &._pay_3 {
    	width:24px;
    	height:24px;
    }
    &._phone {
    	width:24px;
    	height:24px;
    }
    &._plus {
    	width:16px;
    	height:16px;
    }
    &._promocode-arrow {
    	width:20px;
    	height:20px;
    }
    &._provider-catalog {
    	width:48px;
    	height:48px;
    }
    &._search {
    	width:24px;
    	height:24px;
    }
    &._slider-next {
    	width:24px;
    	height:24px;
    }
    &._slider-prev {
    	width:24px;
    	height:24px;
    }
    &._star {
    	width:12px;
    	height:12px;
    }
    &._user {
    	width:24px;
    	height:24px;
    }
    &._visa {
    	width:47px;
    	height:16px;
    }
    &._x {
    	width:20px;
    	height:20px;
    }
}