extends _includes/layout

block config
  - var pagetitle = '';
  - var bodyClass = 'bg-white';
block content
  section.section-top.section.brands-top
    .container
      .brand__top
        .brand__pic
          img(src="./assets/img/brand/brand.png", alt="")
        .brand__info
          .title 
            h1 Запчасти Маяк
          .brand__contry Страна: Россия
          .brand__site 
            | Сайт производителя:&nbsp;
            a(href="#") www.automayak.com
          .brand__text Успешный старт торговой марки «Маяк» на российском рынке автомобильных аксессуаров даёт компании уверенность, что их работа была сделана не зря. Наличие практически всех популярных типов ламп и их высокое качество, без сомнения, вплотную приближают «Маяк» к уровню продукции всемирно известных производителей автомобильных ламп. При этом цены на лампы «Маяк» заметно отличаются в сторону доступности для широкого круга автолюбителей и профессионалов, ценящих качество и последние достижения в области технологий производства автомобильных ламп, но не желающих переплачивать за торговые марки, ставшие известными во многом благодаря огромным средствам, потраченным на их рекламу. Хорошо знакомое русское слово «Маяк» точно отражает суть автомобильной лампы, разработанной и произведённой на уровне мировых достижений в науке и технике.
  section.brands
    .container 
      table.table.table--gray
        thead.table__head
          tr 
            td Номер
            td Наименование
            td Наличие на складе
            td 
        tbody.table__body
          tr 
            td 52120Blister
            td Лампа накаливания H8 12V 35W Маяк
            td 107 шт.
            td
              .--flex.--jcfe
                button.btn.--buy
                  +svgsprite('basket')
                  | Купить
          tr 
            td 52120Blister
            td Лампа накаливания H8 12V 35W Маяк
            td 107 шт.
            td
              .--flex.--jcfe
                button.btn.--buy
                  +svgsprite('basket')
                  | Купить
          tr 
            td 52120Blister
            td Лампа накаливания H8 12V 35W Маяк
            td 107 шт.
            td
              .--flex.--jcfe
                button.btn.--buy
                  +svgsprite('basket')
                  | Купить
          tr 
            td 52120Blister
            td Лампа накаливания H8 12V 35W Маяк
            td 107 шт.
            td
              .--flex.--jcfe
                button.btn.--buy
                  +svgsprite('basket')
                  | Купить
          tr 
            td 52120Blister
            td Лампа накаливания H8 12V 35W Маяк
            td 107 шт.
            td
              .--flex.--jcfe
                button.btn.--buy
                  +svgsprite('basket')
                  | Купить
  .table-mobile.table-mobile--icons
    .container
      .mobile-table-tr
        .table-mobile__item
          p Номер
          span 52120Blister
        .table-mobile__item
          p Наименование
          span Лампа накаливания H8 12V 35W Маяк
        .table-mobile__item
          p Наличие на складе
          span 107 шт.
        .table-mobile__item 
          button.btn.--buy 
            +svgsprite('basket')
            | Купить
      .mobile-table-tr
        .table-mobile__item
          p Номер
          span 52120Blister
        .table-mobile__item
          p Наименование
          span Лампа накаливания H8 12V 35W Маяк
        .table-mobile__item
          p Наличие на складе
          span 107 шт.
        .table-mobile__item 
          button.btn.--buy 
            +svgsprite('basket')
            | Купить
      .mobile-table-tr
        .table-mobile__item
          p Номер
          span 52120Blister
        .table-mobile__item
          p Наименование
          span Лампа накаливания H8 12V 35W Маяк
        .table-mobile__item
          p Наличие на складе
          span 107 шт.
        .table-mobile__item 
          button.btn.--buy 
            +svgsprite('basket')
            | Купить
      .mobile-table-tr
        .table-mobile__item
          p Номер
          span 52120Blister
        .table-mobile__item
          p Наименование
          span Лампа накаливания H8 12V 35W Маяк
        .table-mobile__item
          p Наличие на складе
          span 107 шт.
        .table-mobile__item 
          button.btn.--buy 
            +svgsprite('basket')
            | Купить
      .mobile-table-tr
        .table-mobile__item
          p Номер
          span 52120Blister
        .table-mobile__item
          p Наименование
          span Лампа накаливания H8 12V 35W Маяк
        .table-mobile__item
          p Наличие на складе
          span 107 шт.
        .table-mobile__item 
          button.btn.--buy 
            +svgsprite('basket')
            | Купить
      .mobile-table-tr
        .table-mobile__item
          p Номер
          span 52120Blister
        .table-mobile__item
          p Наименование
          span Лампа накаливания H8 12V 35W Маяк
        .table-mobile__item
          p Наличие на складе
          span 107 шт.
        .table-mobile__item 
          button.btn.--buy 
            +svgsprite('basket')
            | Купить
      .mobile-table-tr
        .table-mobile__item
          p Номер
          span 52120Blister
        .table-mobile__item
          p Наименование
          span Лампа накаливания H8 12V 35W Маяк
        .table-mobile__item
          p Наличие на складе
          span 107 шт.
        .table-mobile__item 
          button.btn.--buy 
            +svgsprite('basket')
            | Купить
         
