extends _includes/layout

block config
  - var pagetitle = 'Главная';
  - var bodyClass = '';
block content
  section.section-top.section
    .container
      +crumbs('Каталоги оригинальных запчастей', 'Audi', 'Поиск по параметрам Audi', 'Запчасти Audi Q5', 'Шайба пламягасящая форсунки дизельной ')
      .title 
        h1 Возд. фильтр с сопутств. деталями
  section.catalogs.section
    .container 
      .model
        .model__pic 
          img(src="./assets/img/model/1.jpg", alt="")
          .model__description.tooltip
            | 21
            .tooltip__panel  Фильтр. элемент возд. фильтра

        .model__table
          table
            thead 
              tr 
                td №
                td Номер
                td Наименование
                td Купить
            tbody 
              tr 
                td 1
                td 
                  a(href="#") 4M0133837 
                td Воздушный фильтр
                td 
                  .--flex.--aicn
                    button.btn.--buy-color Купить
                    .tooltip.table__icon 
                      +svgsprite('i')
                      .tooltip__panel  Есть технические характеристики
              tr 
                td 1
                td 
                  a(href="#") 4M0133837 
                td Воздушный фильтр
                td 
                  .--flex.--aicn
                    button.btn.--buy-color Купить
                    .tooltip.table__icon 
                      +svgsprite('i')
                      .tooltip__panel  Есть технические характеристики
              tr 
                td 1
                td 
                  a(href="#") 4M0133837 
                td Воздушный фильтр
                td 
                  .--flex.--aicn
                    button.btn.--buy-color Купить
                    .tooltip.table__icon 
                      +svgsprite('i')
                      .tooltip__panel  Есть технические характеристики
              tr 
                td 1
                td 
                  a(href="#") 4M0133837 
                td Воздушный фильтр
                td 
                  .--flex.--aicn
                    button.btn.--buy-color Купить
                    .tooltip.table__icon 
                      +svgsprite('i')
                      .tooltip__panel  Есть технические характеристики
              tr 
                td 1
                td 
                  a(href="#") 4M0133837 
                td Воздушный фильтр
                td 
                  .--flex.--aicn
                    button.btn.--buy-color Купить
                    .tooltip.table__icon 
                      +svgsprite('i')
                      .tooltip__panel  Есть технические характеристики
              tr 
                td 1
                td 
                  a(href="#") 4M0133837 
                td Воздушный фильтр
                td 
                  .--flex.--aicn
                    button.btn.--buy-color Купить
                    .tooltip.table__icon 
                      +svgsprite('i')
                      .tooltip__panel  Есть технические характеристики
              tr 
                td 1
                td 
                  a(href="#") 4M0133837 
                td Воздушный фильтр
                td 
                  .--flex.--aicn
                    button.btn.--buy-color Купить
                    .tooltip.table__icon 
                      +svgsprite('i')
                      .tooltip__panel  Есть технические характеристики
              tr 
                td 1
                td 
                  a(href="#") 4M0133837 
                td Воздушный фильтр
                td 
                  .--flex.--aicn
                    button.btn.--buy-color Купить
                    .tooltip.table__icon 
                      +svgsprite('i')
                      .tooltip__panel  Есть технические характеристики

    
  .table-mobile.table-mobile--model
    .container
      .mobile-table-tr
        .table-mobile__item
          p №
          span 1
        .table-mobile__item
          p Номер
          span 
            a(href="#") 4M0133837 
        .table-mobile__item
          p Наименование
          span Воздушный фильтр
        .table-mobile__item
          p Купить
          span 
            .--flex.--aicn
              button.btn.--buy-color Купить
              .tooltip.table__icon 
                +svgsprite('i')
                .tooltip__panel  Есть технические характеристики
      .mobile-table-tr
        .table-mobile__item
          p №
          span 1
        .table-mobile__item
          p Номер
          span 
            a(href="#") 4M0133837 
        .table-mobile__item
          p Наименование
          span Воздушный фильтр
        .table-mobile__item
          p Купить
          span 
            .--flex.--aicn
              button.btn.--buy-color Купить
              .tooltip.table__icon 
                +svgsprite('i')
                .tooltip__panel  Есть технические характеристики