extends _includes/layout

block config
  - var pagetitle = '';
  - var bodyClass = 'bg-white';
block content
  section.section-top.section.brands-top
    .container
      .title 
        h1 Список брендов
      .catalog-tags 
        .tags 
          +tag('1')
          +tag('2')
          +tag('3')
          +tag('4')
          +tag('5')
          +tag('6')
        .tags
          +tag('A')
          +tag('B')
          +tag('C')
          +tag('D')
          +tag('E')
          +tag('F')
          +tag('G')
          +tag('H')
          +tag('I')
          +tag('J')
          +tag('Q')
          +tag('R')
          +tag('S')
          +tag('T')
          +tag('U')
          +tag('V')
          +tag('W')
          +tag('X')
          +tag('Y')
          +tag('Z')
        .tags
          +tag('A')
          +tag('B')
          +tag('C')
          +tag('D')
          +tag('E')
          +tag('F')
          +tag('G')
          +tag('H')
          +tag('I')
          +tag('J')
          +tag('Q')
          +tag('R')
          +tag('S')
          +tag('T')
          +tag('U')
          +tag('V')
          +tag('W')
          +tag('X')
          +tag('Y')
          +tag('Z')
  section.brands
    .container 
      .brands__list 
        a.brands__item(href="#") 
          .brands__pic
          .brands__text Маз
        a.brands__item(href="#") 
          .brands__pic
          .brands__text Маз
        a.brands__item(href="#") 
          .brands__pic
          .brands__text Маз
        a.brands__item(href="#") 
          .brands__pic
          .brands__text Маз
        a.brands__item(href="#") 
          .brands__pic
          .brands__text Маз
        a.brands__item(href="#") 
          .brands__pic
          .brands__text Маз
        a.brands__item(href="#") 
          .brands__pic
          .brands__text Маз
        a.brands__item(href="#") 
          .brands__pic
          .brands__text Маз
        a.brands__item(href="#") 
          .brands__pic
          .brands__text Маз
        a.brands__item(href="#") 
          .brands__pic
          .brands__text Маз
        a.brands__item(href="#") 
          .brands__pic
          .brands__text Маз
        a.brands__item(href="#") 
          .brands__pic
          .brands__text Маз
        a.brands__item(href="#") 
          .brands__pic
          .brands__text Маз
        a.brands__item(href="#") 
          .brands__pic
          .brands__text Маз

