extends _includes/layout

block config
  - var pagetitle = 'Главная';
  - var bodyClass = '';
block content
  section.section-top.section
    .container
      .title 
        h1 Крышка головки цилиндра / прокладка AUDI A6 Avant (4G5, C7, 4GD) 3.0 TDI quattro 2014
  section.catalogs.section.catalogs--table
    .container 
      table.table.table--gray
        thead.table__head
          tr 
            td Производитель
            td Номер
            td Название
            td Параметры запчасти
        tbody.table__body
          tr 
            td BOSCH
            td 
              .--flex.--aicn
                | F00VP01008
                .table__icons.--flex.--jcfe.--aicn
                  .tooltip.table__icon 
                    +svgsprite('i')
                    .tooltip__panel  Есть технические характеристики
                  .table__icon
                    +svgsprite('car')

            td Уплотнительное кольцо, шахта форсунки
            td 
              .--flex.--aicn.--jcsb
                | Подготовка топлива: Common Rail (СR)
                button.btn.--buy
                  +svgsprite('basket')
                  | Купить
          tr 
            td BOSCH
            td F00VP01008
            td Уплотнительное кольцо, шахта форсунки
            td 
              .--flex.--aicn.--jcsb
                | Подготовка топлива: Common Rail (СR)
                button.btn.--buy
                  +svgsprite('basket')
                  | Купить
          tr 
            td BOSCH
            td F00VP01008
            td Уплотнительное кольцо, шахта форсунки
            td 
              .--flex.--aicn.--jcsb
                | Подготовка топлива: Common Rail (СR)
                button.btn.--buy 
                  +svgsprite('basket')
                  | Купить
          tr 
            td BOSCH
            td F00VP01008
            td Уплотнительное кольцо, шахта форсунки
            td 
              .--flex.--aicn.--jcsb
                | Подготовка топлива: Common Rail (СR)
                button.btn.--buy 
                  +svgsprite('basket')
                  | Купить
          
  .table-mobile.table-mobile--icons
    .container
      .mobile-table-tr
        .table-mobile__item
          p Производитель
          span 
            b BOSCH
        .table-mobile__item
          p Номер
          span
            .--flex.--aicn
              | F00VP01008
              .table__icons.--flex.--jcfe.--aicn
                .tooltip.table__icon 
                  +svgsprite('i')
                  .tooltip__panel  Есть технические характеристики
                .table__icon
                  +svgsprite('car')
        .table-mobile__item
          p Название
          span 05.2006
        .table-mobile__item
          p Параметры запчасти
          span 88/120
        .table-mobile__item 
          button.btn.--buy 
            +svgsprite('basket')
            | Купить
      .mobile-table-tr
        .table-mobile__item
          p Производитель
          span 
            b BOSCH
        .table-mobile__item
          p Номер
          span 05.2000
        .table-mobile__item
          p Название
          span 05.2006
        .table-mobile__item
          p Параметры запчасти
          span 88/120
        .table-mobile__item 
          button.btn.--buy 
            +svgsprite('basket')
            | Купить
      .mobile-table-tr
        .table-mobile__item
          p Производитель
          span 
            b BOSCH
        .table-mobile__item
          p Номер
          span 05.2000
        .table-mobile__item
          p Название
          span 05.2006
        .table-mobile__item
          p Параметры запчасти
          span 88/120
        .table-mobile__item 
          button.btn.--buy 
            +svgsprite('basket')
            | Купить

