extends _includes/layout

block config
  - var pagetitle = 'Главная';
  - var bodyClass = '';
block content
  section.section-top.section
    .container
      +crumbs('Каталоги оригинальных запчастей', 'Audi', 'Поиск по параметрам Audi', 'Запчасти Audi Q5', 'Шайба пламягасящая форсунки дизельной ')
      .title 
        h1 Фары, передний и задний бампер для AUDI Q3 (8U) 2011-2011 крыло капот. Кузовные запчасти и оптика для AUDI Q3 (8U)
        p Купленные у нас кузовные запчасти и оптика поможет Вам сделать кузовной ремонт быстро и качественно. В нашем интернет магазине представлены кузовные детали AUDI Q3 (8U) и фары от лучших производителей Wan Wezal, TYG, Depo, Klokkerholm и POLCAR. В каталоге также представлена оптика и кузовные детали для тюнинга AUDI Q3 (8U)
  section.catalogs.section.section--white.catalogs--table
    .container 
      table.table
        thead.table__head
          tr 
            td Название автомобиля
            td Год выпуска
            td Снятие с производства
            td Кв/Лс
            td Объём двигателя
            td Тип кузова
        tbody.table__body
          tr 
            td 
              a(href="#") 1.6 16V T.SPARK. (932A4)
            td 05.2000
            td 05.2006
            td 88/120
            td 1598
            td универсал
          tr 
            td 
              a(href="#") 1.6 16V T.SPARK. (932A4)
            td 05.2000
            td 05.2006
            td 88/120
            td 1598
            td универсал
          tr 
            td 
              a(href="#") 1.6 16V T.SPARK. (932A4)
            td 05.2000
            td 05.2006
            td 88/120
            td 1598
            td универсал
          tr 
            td 
              a(href="#") 1.6 16V T.SPARK. (932A4)
            td 05.2000
            td 05.2006
            td 88/120
            td 1598
            td универсал
          tr 
            td 
              a(href="#") 1.6 16V T.SPARK. (932A4)
            td 05.2000
            td 05.2006
            td 88/120
            td 1598
            td универсал
          tr 
            td 
              a(href="#") 1.6 16V T.SPARK. (932A4)
            td 05.2000
            td 05.2006
            td 88/120
            td 1598
            td универсал
          tr 
            td 
              a(href="#") 1.6 16V T.SPARK. (932A4)
            td 05.2000
            td 05.2006
            td 88/120
            td 1598
            td универсал
  .table-mobile.table-mobile--notoriginal
    .container
      .table-mobile--notoriginal
        .mobile-table-tr
          .table-mobile__item
            p Название автомобиля
            span 
              a(href="#") 1.6 16V T.SPARK. (932A4)
          .table-mobile__item
            p Год выпуска
            span 05.2000
          .table-mobile__item
            p Снятие с производства
            span 05.2006
          .table-mobile__item
            p Кв/Лс
            span 88/120
          .table-mobile__item
            p Объём двигателя
            span 1598
          .table-mobile__item
            p Тип кузова
            span универсал
