extends _includes/layout

block config
  - var pagetitle = 'Главная';
  - var bodyClass = '';
block content
  section.section-top.section
    .container
      .title 
        h1 Оригинальные и неоригинальные кузовные запчасти и оптика для AUDI
        p Большой выбор фар, бамперов, крыльев и капотов от лучших производителей кузовных запчастей. Фары, капот, передний и задний бампер AUDI, переднее и заднее крыло, задние фонари – эти детали и многие другие Вы найдете в нашем каталоге кузовных деталей и оптики
  section.catalogs.section.catalogs--notoriginal
    .container 
      .title-search
        h2 Модели
        +search('Начните вводит название')
      .catalog-inner__item
        .catalog-inner__symbol 
          .catalogs__symbol 1
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
      .catalog-inner__item
        .catalog-inner__symbol 
          .catalogs__symbol A
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
      .catalog-inner__item
        .catalog-inner__symbol 
          .catalogs__symbol B
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)
        a.catalog-inner__link(href="#")
          |  100 (44, 44Q, C3) 
          span (2011 - НАСТ.)