extends _includes/layout

block config
  - var pagetitle = '';
  - var bodyClass = '';
block content
  section.section.registration
    .container
      form.reg_panel
        .reg__steps
          .reg__steps-list
            .reg__steps-item.checked
              .reg__circle 1
              | Персональная информация
            .reg__steps-item.checked
              .reg__circle 2
              | Данные компании
            .reg__steps-item.checked
              .reg__circle 3
              | Данные о поставщике
            .reg__steps-item.checked
              .reg__circle 4
              | Типы доставки
            .reg__steps-item.checked
              .reg__circle 5
              | Магазины
            .reg__steps-item.active
              .reg__circle 6
              | Информация о прайс-листах
            .reg__steps-item 
              .reg__circle 7
              | Заключительное положение
        .reg__step
          .reg__step-body
            .reg__step-top
              .title.reg__step-title
                h2 Типы доставки
                .reg__step-numbers Шаг 6 из 7
            .reg__step-block
              .title  
                h3 Каким образом будете обмениваться с системой информацией о наличии.
              .radios 
                label.radio
                  input(type="radio" name="reg" checked)
                  .radio__circle
                  .radio__text Протокол обмена API (с описанием преимуществ обмена по API)
              .radios
                label.radio
                  input(type="radio" name="reg" checked)
                  .radio__circle
                  .radio__text Загрузка XLS/CSV прайс-листа с данными по остаткам
          .reg__step-bottom
            a.reg__step-prev(href="reg_post-5.html") 
              +svgsprite('slider-prev')
              | Назад
            a.reg__step-next(href="reg_post-7.html") 
              | Далее
              +svgsprite('slider-next')