.search{
  width: 100%;
  position: relative;
  &__input{
    height: 50px;
    padding-left: 20px;
    background-color: #F4F5F7;
    border: 1px solid #DEDEE2;
    border-radius: 6px;
    width: 100%;
    padding-top: 2px;
  }
  &__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 5px;
    top: 5px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    &.--hover{
      background-color: rgba(#6B59CC, .1);
      &:hover{
        background-color: #6B59CC;
        svg{
          fill: #fff;
        }
      }
    }
  } 
  svg{
    fill: #5946D7;
    transition: .4s;
  }
}